builddir/
typings/*
.flatpak-builder
build
.idea
flatpak-pip-generator.py
problematic_emojis.cpython*
run.sh
src/lib/__pycache__
src/lib/__pycache__
.glade~
install.sh

src/ui/menu.xml~
old_emoji_list.py
.flatpak
src/ui/settings.glade~
.DS_Store
