<?xml version="1.0" encoding="UTF-8"?>
<!-- Generated with glade 3.38.2 -->
<interface>
  <object class="GtkPopover" id="primary_menu">
    <property name="can-focus">False</property>
    <child>
      <object class="GtkBox">
        <property name="visible">True</property>
        <property name="can-focus">False</property>
        <property name="orientation">vertical</property>
        <child>
          <object class="GtkModelButton">
            <property name="visible">True</property>
            <property name="can-focus">True</property>
            <property name="receives-default">True</property>
            <property name="action-name">app.preferences</property>
            <property name="text" translatable="yes">Preferences</property>
          </object>
        </child>
        <child>
          <object class="GtkModelButton">
            <property name="visible">True</property>
            <property name="can-focus">True</property>
            <property name="receives-default">True</property>
            <property name="action-name">app.open_shortcuts</property>
            <property name="text" translatable="yes">Keyboard Shortcuts</property>
          </object>
        </child>
        <child>
          <object class="GtkModelButton">
            <property name="visible">True</property>
            <property name="can-focus">True</property>
            <property name="receives-default">True</property>
            <property name="action-name">app.open_changelog</property>
            <property name="text" translatable="yes">What's new?</property>
          </object>
        </child>
        <child>
          <object class="GtkModelButton">
            <property name="visible">True</property>
            <property name="can-focus">True</property>
            <property name="receives-default">True</property>
            <property name="action-name">app.about</property>
            <property name="text" translatable="yes">About</property>
          </object>
        </child>
      </object>
    </child>
  </object>
</interface>