#emoji_list_box button, #skin_selector button, #emoji_categories_box button {
    font-size: 20px;
}

.emoji-with-skintones {
    border-top-right-radius: 15px;
}

.emoji-button {
    font-size: 20px;
}

/* Focused emoji button */
.emoji-button.selected {
    border-color: red;
    box-shadow: 0px 0px 2px 1px red;
    outline: transparent;
}

/* Selected emoji button */
.emoji-button.selected, #skin_selector button.selected {
    border-color: rgba(255, 0, 0, 1);
    box-shadow: 0px 0px 2px 1px rgba(255, 0, 0, 0.75);
    outline: transparent;
}

.emoji-button.active {
    border-color: rgba(255, 0, 0, 1);
    box-shadow: 0px 0px 2px 1px rgba(255, 0, 0, 1);
    outline: transparent;
}

.flowbox-selected {
    border-color: rgba(255, 0, 0, 0);
    box-shadow: 0px 0px 2px 1px rgba(255, 0, 0, 0);
    outline: transparent;
}

#emoji_categories_box button {
    margin: 1px;
}

#emoji_categories_box button:focus, button.selected {
    border-color: rgb(12, 170, 12);
    box-shadow: 0px 0px 2px 1px rgb(12, 170, 12);
    outline: transparent;
}

#custom_tag_entry {
    margin: 10px;
}

#preferences-listbox {
    border-radius: 10px;
}

#modifiers-listbox {
    border-radius: 10px;
}

.emoji_with_custom_tags_preferences {
    font-size: 20px;
}

.viewport {
    margin: 10px;
    margin-bottom: 0;
}