.emoji-with-skintones {
    border-top-right-radius: 15px;
}

.emoji-button {
    font-size: 20px;
}

.emoji-button-lg {
    font-size: 22px;
}

.emoji-button-xl {
    font-size: 25px;
}

.emoji-button-xxl {
    font-size: 28px;
}

.flowbox-child-custom {
    border-color: transparent;
    box-shadow: none;
    padding: 0;
    outline: transparent;
    background: transparent;
}

.flowbox-child-custom:focus button {
    border-color: var(--accent-color);
    box-shadow: 0px 0px 2px 1px var(--accent-color);
    outline: transparent;
}

.flowbox-child-custom.active button {
    border-color: var(--accent-color);
    box-shadow: 0px 0px 2px 1px var(--accent-color);
    outline: transparent;
}

.flowbox-child-custom.selected button {
    border-color: var(--accent-bg-color);
    box-shadow: 0px 0px 2px 1px var(--accent-bg-color);
    outline: transparent;
}

#emoji_categories_box {
   border-top: 1px solid @borders;
   margin-top: 5px;
   margin-bottom: 7px;
}

#emoji_categories_box button {
    margin: 0px;
    background: transparent;
    padding: 3px;
}

#emoji_categories_box button:focus {
    border-bottom-color: var(--accent-color);
    box-shadow: 0px 3px 0px 0px var(--accent-color);
    outline: transparent;
    border-radius: 0;
}

#emoji_categories_box button.selected {
    border-bottom-color: var(--accent-color);
    box-shadow: 0px 3px 0px 0px var(--accent-color);
    outline: transparent;
    border-radius: 0;
}


#custom_tag_entry {
    margin: 10px;
}

.viewport {
    margin: 10px;
    margin-top: 0;
    margin-bottom: 0;
}

.custom-headerbar {
    margin: 10px;
    margin-bottom: 0;
}

.selected-emojis-box {
    border-top: 1px solid @borders;
    margin-top: 3px;
    padding-top: 5px;
    padding-bottom: 0px;
}

.solid-overlay {
    background-color: @window_bg_color;
}