#emoji_list_box button, #skin_selector button, #emoji_categories_box button {
    font-size: 20px;
}

.emoji-with-skintones {
    border-top-right-radius: 10px;
}

/* Focused emoji button */
#emoji_list_box button:focus, #emoji_list_box button.selected:focus, #skin_selector button:focus {
    border-color: red;
    box-shadow: 0px 0px 2px 1px red;
    outline: transparent;
}

/* Selected emoji button */
#emoji_list_box button.selected, #skin_selector button.selected {
    border-color: rgba(255, 0, 0, 0.75);
    box-shadow: 0px 0px 2px 1px rgba(255, 0, 0, 0.45);
    outline: transparent;
}

#emoji_categories_box {
    border-radius: 5px;
    box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.3);
}

#emoji_categories_box button:focus, button.selected{
    border-color: rgb(12, 170, 12);
    box-shadow: 0px 0px 2px 1px rgb(12, 170, 12);
    outline: transparent;
}

#custom_tag_entry {
    margin: 10px;
}

#preferencies-listbox {
    border-radius: 10px;
}

.emoji_with_custom_tags_preferencies {
    font-size: 20px;
}