.emoji_list_box button,
#skin_selector button,
#emoji_categories_box button {
    font-size: 20px;
}

.emoji-with-skintones {
    border-top-right-radius: 15px;
}

.emoji-button {
    font-size: 20px;
}

.flowbox-child-custom {
    border-color: transparent;
    box-shadow: none;
    outline: transparent;
    background: transparent;
}

.flowbox-child-custom:focus button {
    border-color: rgba(255, 0, 0, 1);
    box-shadow: 0px 0px 2px 1px rgba(255, 0, 0, 1);
    outline: transparent;
}

.flowbox-child-custom.active button {
    border-color: rgba(255, 0, 0, 1);
    box-shadow: 0px 0px 2px 1px rgba(255, 0, 0, 1);
    outline: transparent;
}

.flowbox-child-custom.selected button {
    border-color: rgba(255, 0, 0, 0.5);
    box-shadow: 0px 0px 2px 1px rgba(255, 0, 0, 0.5);
    outline: transparent;
}

#emoji_categories_box button {
    margin: 1px;
}

#emoji_categories_box button:focus,
button.selected {
    border-color: rgb(12, 170, 12);
    box-shadow: 0px 0px 2px 1px rgb(12, 170, 12);
    outline: transparent;
}

#custom_tag_entry {
    margin: 10px;
}

.viewport {
    margin: 10px;
    margin-bottom: 0;
}